/ananicy-2.1.0_any/DEBIAN/control
/ananicy-2.1.0_any/etc/ananicy.d/00-cgroups.cgroups
/ananicy-2.1.0_any/etc/ananicy.d/00-default/FileRoller.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/FoxitReader.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/SVP.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/_archivers.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/_kde.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/_steam.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/_systemd.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/acestream.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/alarm-clock.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/apache2.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/archlinux.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/aria2c.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/ario.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/audacious.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/audacity.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/awesome_wm.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/bees.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/bitwig-studio.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/blueman-blueberry.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/borg.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/chromium.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/cinnamon.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/clementine.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/cmake.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/compton.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/coreutils.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/curl.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/deadbeef.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/deluge.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/discord.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/dropbox.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/dupeguru.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/duperemove.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/eog.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/evince.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/fail2ban-server.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/fdupes.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/feh.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/ffmpeg.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/firefox.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/fluxbox.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/g++.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/gcc.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/gerbera.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/gimp.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/gitkraken.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/gnur.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/go.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/google-chrome.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/hexchat.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/imagemagick.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/inkscape.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/insync.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/kget.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/krita.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/ktorrent.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/libreoffice.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/lightdm.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/linphone.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/make.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/megasync.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/meld.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/melt.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/minetest.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/mirage.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/mixxx.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/mpd.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/mplayer.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/mpv.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/mysqld.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/ncmpcpp.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/nextcloud.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/ninja.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/nvdock.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/okular.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/owncloud.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/php-cgi.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/plex.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/ppsspp.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/psensor.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/pulseaudio.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/qBittorrent.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/qimgv.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/qmmp.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/qtox.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/qtwebengine.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/rambox.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/recoll.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/redshift.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/remote-viewer.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/rhythmbox.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/rmlint.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/rstudio.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/rsync.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/sabnzbd.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/samba.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/shotwell.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/shutter.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/skype.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/slack.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/smartd.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/smplayer.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/sopcast.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/soulseekqt.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/soundkonverter.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/spotify.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/sublime-text2.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/sublime-text3.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/syncthing.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/telegram.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/thrash-protect.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/thunderbird.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/tixati.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/totem.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/transmission.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/ue4.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/viber.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/vivaldi.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/vk.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/vlc.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/vmware.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/vscode.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/vscodium.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/wget.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/wine/Battlerite.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/wine/Steam.exe.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/wine/TERA.exe.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/wine/smite.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/wine/wows.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/wineserver.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/xarchiver.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/xfce4.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/xmonad.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/xorg.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/xviewer.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-default/youtube-dl.rules
/ananicy-2.1.0_any/etc/ananicy.d/00-types.types
/ananicy-2.1.0_any/etc/ananicy.d/ananicy.conf
/ananicy-2.1.0_any/lib/systemd/system/ananicy.service
/ananicy-2.1.0_any/usr/bin/ananicy
