[Unit]
Description=Ananicy - ANother Auto NICe daemon
After=local-fs.target

[Service]
ExecStart=/usr/bin/ananicy start
Nice=19
OOMScoreAdjust=-999
Restart=always
CPUAccounting=true
CPUQuota=5%
MemoryHigh=16M
MemoryMax=64M
ProtectSystem=true
ProtectHome=true

[Install]
WantedBy=local-fs.target
