[Unit]
Description=Ananicy - ANother Auto NICe daemon
After=local-fs.target

[Service]
Type=notify
ExecStartPre=/sbin/sysctl -e kernel.sched_autogroup_enabled=0
ExecStart=/usr/bin/ananicy start
ExecStopPost=/sbin/sysctl -e kernel.sched_autogroup_enabled=1
Nice=19
SuccessExitStatus=143
OOMScoreAdjust=-999
Restart=always
CPUAccounting=true
MemoryHigh=16M
MemoryMax=64M
ProtectSystem=true
ProtectHome=true
PrivateTmp=yes

[Install]
WantedBy=local-fs.target
